body {
	width: 1920px;
	height: 1080px;
	margin: 0;
	overflow: hidden;
}

@keyframes ticker {
	0% {
	  transform: translate(0, 0);
	  visibility: visible;
	}

	100% {
	  transform: translate(-100%, 0);
	}
  }

  .ticker-wrap {
	position: fixed;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	height: 4rem;
	background-color: rgba(0, 0, 0, 0.9);
	padding-left: 100%;
	box-sizing: content-box;
  }

  .ticker {
	display: inline-block;
	height: 4rem;
	line-height: 4rem;
	white-space: nowrap;
	padding-right: 100%;
	box-sizing: content-box;
	  will-change: transform;
  /*   animation: 30s ticker linear infinite; */
  /*   animation-name:ticker;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear; */
  }

  .ticker-item {
	display: inline-block;
	padding: 0 2rem;
	font-size: 2rem;
	color: white;
	font-family: Roboto, sans-serif;
  }
